<div id="header">
    <div class="row cv-section">
        <div class="col-sm-8">
            <div class="cv-section-title"><img src="../assets/img/robot.jpg" width="140" height="140" class="img-circle">
                <h1>
                    <span [innerText]="profile.name"></span>
                    <small [innerText]="profile.title"></small>
                </h1>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="cv-item">
                <div class="social-media clearfix"><a [href]="profile.url" target="_blank" title="LinkedIN Profile"><i class="fa fa-linkedin-square"></i></a></div>
                <p class="last">
                    <span>Email: </span>
                    <span [innerText]="profile.email"></span>
                </p>
                <p class="last">
                    <span>Phone: </span>
                    <span [innerText]="profile.phone"></span>
                </p>
                <p class="last">
                    <span>Location: </span>
                    <span [innerText]="profile.location"></span>
                </p>
            </div>
        </div>
    </div>
</div>
