<br />
<div class="row">
  <div class="col-md-5">
    <a class="btn btn-xs btn-primary pull-right" (click)="onInit('create')">
      <i class="fa fa-plus"></i> New
    </a>
    <h3>Experiences</h3>
    <table class="table table-condensed">
       <thead>
         <tr>
           <th>Company</th>
           <th>Duration</th>
           <th>Order</th>
           <th width="40">Edit</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let experience of experiences">
           <td>{{ experience.title }}</td>
           <td>{{ experience.period }}</td>
           <td>{{ experience.order }}</td>
           <td>
             <a class="btn btn-xs btn-primary" (click)="onSelect(experience)">
               <i class="fa fa-pencil"></i>
             </a>
             <!-- <a class="btn btn-xs btn-danger">
               <i class="fa fa-close"></i>
             </a> -->
           </td>
         </tr>
       </tbody>
     </table>
     <div class="" *ngIf="mode">
       <!-- <p>{{ experience | json }}</p> -->
       <form class="form-horizontal">
         <div class="form-group form-group-sm">
           <label for="inputEmail3" class="col-sm-2 control-label">Order</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" [(ngModel)]="experience.order" name="expOrder" />
           </div>
         </div>
         <div class="form-group form-group-sm">
           <label for="inputEmail3" class="col-sm-2 control-label">Company</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" [(ngModel)]="experience.title" name="expTitle" />
           </div>
         </div>
         <div class="form-group form-group-sm">
           <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" [(ngModel)]="experience.location" name="expLocation" />
           </div>
         </div>
         <div class="form-group form-group-sm">
           <label for="inputEmail3" class="col-sm-2 control-label">Subtitle</label>
           <div class="col-sm-10">
             <input type="text" class="form-control" [(ngModel)]="experience.subtitle" name="expSubtitle" />
           </div>
         </div>
         <div class="form-group form-group-sm">
           <label for="inputPassword3" class="col-sm-2 control-label">Period</label>
           <div class="col-sm-10">
             <input type="text" class="form-control input-sm" [(ngModel)]="experience.period" name="expPeriod" />
           </div>
         </div>
         <div class="form-group form-group-sm">
           <label for="inputPassword3" class="col-sm-2 control-label">Description</label>
           <div class="col-sm-10">
             <textarea type="text" class="form-control input-sm" rows="5" [(ngModel)]="experience.description" name="expDescription">
             </textarea>
           </div>
         </div>
         <div class="form-group form-group-sm">
           <div class="col-sm-offset-2 col-sm-10">
             <a type="submit" class="btn btn-primary btn-xs pull-right" (click)="onUpdate()">Update</a>
             <a type="submit" class="btn btn-danger btn-xs" (click)="onDelete()" *ngIf="mode == 'edit'">Remove</a>
             <a class="btn btn-info btn-xs" (click)="onInit(false)">Cancel</a>
           </div>
         </div>
       </form>
     </div>
  </div>
  <div class="col-md-offset-1 col-md-6">
    <div class="cv-section-title">
      <h2>
        <i class="fa fa-slideshare"></i>
        <span>Work Experience</span>
      </h2>
      <h4></h4>
    </div>
    <div style="height: 600px; overflow-y: auto; padding: 5px;">
      <div class="cv-item" *ngFor="let item of experiences">
          <small *ngIf="item.period" class="pull-right" [innerText]="item.period"></small>
          <h3 *ngIf="item.title">
            <span [innerText]="item.title"></span>,
            <span [innerText]="item.location"></span>
          </h3>
          <h4 *ngIf="item.subtitle" [innerText]="item.subtitle"></h4>
          <p *ngIf="item.description" [innerHtml]="item.description"></p>
      </div>
    </div>
  </div>
</div>
