#header .cv-section:first-child {
  /*border-top:10px solid #fdb020;*/
}

@media (max-width:767px) {
  #header .cv-section-title {
    text-align:center;
    margin-bottom:40px;
  }
}

@media (max-width:767px) {
  .cv-section-title {
    margin-bottom:40px;
  }
}

.cv-section-title img {
  float:left;
  width:150px;
  border:1px solid #dadada;
  height:150px;
  margin-right:20px;
  padding:5px;
}

@media (max-width:767px) {
  .cv-section-title img {
    float:none;
    margin:0 auto;
  }
}

.cv-section-title h1 {
  padding-top:45px;
}

.cv-section-title h1 small {
  font-weight:300;
  font-size:24px;
  line-height:48px;
  text-transform:uppercase;
  display:block;
}

@media (max-width:767px) {
  .cv-section-title h1 small {
    margin-top:20px;
  }
}

.cv-section-title h2 {
  /*font-size:22px;*/
  font-weight:300;
  color:#b1b1b1;
  margin-bottom:0;
}

.cv-section-title h4 {
  font-weight:300;
  /*color:#b1b1b1;*/
  /*margin-bottom:0;*/
}

.social-media {
  margin-bottom:20px;
}

.social-media a {
  float:left;
  background-color:#252525;
  color:#fff;
  width:32px;
  margin-right:15px;
  margin-bottom:5px;
  text-align:center;
}

.social-media a i {
  font-size:16px;
  line-height:32px;
}

.cv-timeline table {
  margin-top:65px;
  border-style:hidden;
  border-collapse:collapse;
}

.cv-timeline table th {
  text-align:center;
  font-size:11px;
  color:#888;
}

.cv-timeline table td {
  background-color:#efefef;
  font-weight:normal;
  /*border:none;*/
  text-align:center;
  font-size:12px;
}

.cv-timeline table tr.timeline-space td {
  border-right:1px solid #ddd;
  padding:8px 4px;
  border-top:none;
  border-left:none;
  border-bottom:none;
}

.cv-timeline table tr.timeline-row td {
  padding:6px 3px;
  border-top:none;
  border-right:1px solid #ddd;
}

.cv-timeline table td.timeline-item {
  background-color:#cdcdcd;
  color:#111;
}

.cv-section {
  /*border-top:1px solid #dadada;*/
  padding:65px 0;
}

@media (max-width:767px) {
  .cv-section {
    padding:65px 10px;
  }
}

.cv-item {
  padding-bottom:40px;
  border-bottom:1px solid #dadada;
  margin-bottom:40px;
}

.cv-item a {
  font-weight:bold;
}

.cv-item:last-child {
  margin-bottom:0;
  padding-bottom:0;
  border-bottom:none;
}

.cv-item p {
  /*padding-bottom:0;*/
  /*margin-bottom:0;*/
}

.cv-item p.last {
  margin-bottom:5px;
}

.cv-item h3 {
  margin-bottom:0px;
  font-weight:bold;
}

.cv-item h4 {
  margin-bottom:20px;
}

.period {
  background-color:#b1b1b1;
  color:#fff;
  float:right;
  padding:12px 20px;
  transition:background-color 0.3s;
  text-transform:uppercase;
  cursor:pointer;
}

.period:hover {
  background-color:#fdb020;
}

@media (max-width:767px) {
  .period {
    float:none;
  }
}

.copyright {
  /*border-bottom:1px solid #b1b1b1;*/
  /*background-color:#b1b1b1;*/
  /*color:#fff;*/
  padding:5px 0;
  margin-bottom:0;
  text-align:center;
  font-size:12px;
  text-transform:uppercase;
}

.cv-metric table th {
  font-weight:bold;
  text-align:center;
  font-size:13px;
}

.cv-metric table tbody td {
  font-weight:normal;
  text-align:center;
  font-size:12px;
}

.cv-metric table tfoot td {
  text-align:left;
}

ul.fill-circle {
  list-style:none;
  margin-bottom:20px;
}

ul.fill-circle li:before {
  font-family:'FontAwesome';
  color:#fdb020;
  content:"ï€Œ";
  font-size:10px;
  position:relative;
  top:-2px;
  width:auto;
  height:auto;
  margin-right:8px;
}

ul.nav li i {
  font-size:20px;
  margin-right:5px;
}

a.back-to-top {
  cursor:pointer;
  background:none;
  margin:0;
  position:fixed;
  bottom:20px;
  right:20px;
  /*width:70px;*/
  /*height:70px;*/
  z-index:100;
  /*display:none;*/
  text-decoration:none;
  color:#efefef;
  /*background-color:#ff9000;*/
}

a.back-to-top i {
  font-size:60px;
}

a.back-to-top:hover {
  color:#fdb020;
}

i.fa.fa-quote-left {
  vertical-align:top;
  color:#aaa;
}

p strong {
  padding:0px 2px;
  border:1px dotted #fdb020;
  background-color:rgba(253,176,32,0.08);
}

a {
  text-decoration:initial;
  /*font-weight:bold;*/
  /*color:#666;*/
}

a:visited {
  /*color:#888;*/
}

a:hover {
  text-decoration:none;
  /*color:#fdb020;*/
}

small {
  font-size:11px;
}

div.row.cv-section {
}

