<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2><i class="fa fa-balance-scale"></i> Architect</h2>
            <h4>UI/UX Architect</h4></div>
    </div>
    <div class="col-md-9">
        <div class="cv-item">
            <p class="period">Advanced </p>
            <h3>Layout Sketch</h3>
            <h4>Design + HTML + CSS</h4>
            <p> Based on the business requirement, I design the page layout. My way is to quickly deliver results that meets the eye, and hit the point, especially in the first roud of proposal. Tools that I used including <em>Sketch,</em> <em>HTML,</em>                        <em>Photoshop</em> and <em>Bootstrap</em>. What's really important here is to miminize un-neccesary cost while maintaining the prosperity of the potential business workflow.</p>
        </div>
        <div class="cv-item">
            <p class="period">Advanced </p>
            <h3>Frontend Build</h3>
            <h4>Grunt + Gulp + Deployment</h4>
            <p> One key aspect of the web application depends on the efficiency of the front-end build where various of tools and pipelines are blended together to achieve project compilation and deployment. Therefore be able to customerize the build,
                especially within your corporate infrastracture, is becoming vital to the success of the web application. Tools that I have used including <em>Grunt</em> and <em>Gulp</em>.</p>
        </div>
        <div class="cv-item">
            <p class="period">Expert</p>
            <h3>AngularJS </h3>
            <h4>Javascript + API + Form + Grid</h4>
            <p>For serious Javascript development, I chose <em>AngularJS</em> with modular <em>CSS</em> and <em>Javascript</em> compartment design. Within each module, MVC pattern is strictly followed, especially with fat model. Serial and parallel
                tasks (both in front and back) are chained together and fired rapidly via promises talking to various API hosting either in the same domain or proxyed to external servers. For more complicated widget, directive is used between
                multiple projects to increase usibility.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive cv-metric">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Date </th>
                        <th>Layout </th>
                        <th>CSS</th>
                        <th>Design </th>
                        <th>API </th>
                        <th>Build </th>
                        <th>Angular</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>WebinarFunnel</strong> System</td>
                        <td>2011</td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>PlusDelta</strong> PharmTrac PD</td>
                        <td>2012</td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>Duke</strong> Advising Circle</td>
                        <td>2013</td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>AlphaMedPress</strong> Stemcell</td>
                        <td>2013 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>DesignHammers</strong> Awards</td>
                        <td>2013 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>PeopleDesigns</strong> OBChat</td>
                        <td>2014 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>PeopleDesigns</strong> Prepare</td>
                        <td>2014 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>RxAnte</strong> DataTools</td>
                        <td>2014 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td><strong>PeopleDesigns</strong> SRCE</td>
                        <td>2015 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>Deutsche Bank </strong>dbVals</td>
                        <td>2015 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>NewStone</strong> Realty</td>
                        <td>2015 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>CCNC</strong> Chipra</td>
                        <td>2015 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>Ndustrial</strong> IO</td>
                        <td>2015 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> </td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>TopFitPros</strong> Workout</td>
                        <td>2015 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>Deutsche Bank </strong>Events</td>
                        <td>2016 </td>
                        <td></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> </td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td><strong>Deutsche Bank</strong> West</td>
                        <td>2016 </td>
                        <td><i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                        <td> <i class="fa fa-check"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
