<hr />
<div class="row cv-timeline">
    <div class="col-md-12 no-padding">
        <div>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">2010</th>
                        <th colspan="2">2011 </th>
                        <th colspan="2">2012 </th>
                        <th colspan="2">2013 </th>
                        <th colspan="2">2014 </th>
                        <th colspan="2">2015 </th>
                        <th colspan="2">2016 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="11" class="timeline-item">Contracting <span class="hidden-xs">AlphaMed, DesignHammer, PeopleDesigns, TopFitPros etc </span></td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                    </tr>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="2" class="timeline-item">Duke </td>
                        <td colspan="1"> </td>
                        <td colspan="2" class="timeline-item"><a href="#rxante">Rx</a> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                    </tr>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="3" class="timeline-item">PlusDelta </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="3" class="timeline-item"> <a href="#deutsche">Deutsche Bank</a></td>
                    </tr>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<cv-section [section]="experience"></cv-section>

<div class="row cv-timeline">
    <div class="col-md-12 no-padding">
        <div>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">2000 </th>
                        <th colspan="2">2001 </th>
                        <th colspan="2">2002</th>
                        <th colspan="2">2003</th>
                        <th colspan="2">2004</th>
                        <th colspan="2">2005</th>
                        <th colspan="2">2006 </th>
                        <th colspan="2">2007 </th>
                        <th colspan="2">2008 </th>
                        <th colspan="2">2009 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td> </td>
                        <td colspan="13" class="timeline-item"> <span class="hidden-xs">Johns </span> Hopkins <span class="hidden-xs">University </span> </td>
                        <td colspan="6" class="timeline-item"> UC Irvine <span class="hidden-xs">University </span> </td>
                    </tr>
                    <tr class="timeline-space" style="height: 2px">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="2" class="timeline-item"> Hobby </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="7" class="timeline-item"> NASA <span class="hidden-xs">application </span> </td>
                        <td colspan="1"> </td>
                        <td colspan="5" class="timeline-item">NIH <span class="hidden-xs">cancer projects </span></td>
                    </tr>
                    <tr class="timeline-space" style="height: 2px">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2><i class="fa fa-slideshare"></i> Work Experience</h2>
            <h4>2000 - 2010</h4></div>
    </div>
    <div class="col-md-9">
        <div class="cv-item">
            <p class="period">Sep 1999 - Dec 2000</p>
            <h3>Hobby projects</h3>
            <h4>HTML + CSS</h4>
            <p> I started to make websites back in college. I remember the first publlished one was a college graduation book one for classmates back in 1999. It took me three weeks to finish it, and the results is rewarding. We saved the website
                in CDs and gave everyone a copy. I believe I still have that CD with me.</p>
        </div>
        <div class="cv-item">
            <p class="period">Jun 2003 - Jun 2006</p>
            <h3>NASA fluid dynamic project</h3>
            <h4>C++ Lead programmer</h4>
            <p> From 2000, I joined Johns HopkinsUniversity and spent five years writing scientific software using <em>C++ </em>for NASA funded fluid dynamic projects, 12000 lines in <em>C++</em> in linux environment, integrated with parallel open
                source PETSC solver. A windows GUI front-end was written for data post-processing and visualization purpose using <em>Borland Delphi</em>.&nbsp; </p>
        </div>
        <div class="cv-item">
            <p class="period">Oct 2007 - Dec 2009</p>
            <h3>NIH cancer research</h3>
            <h4>C++ Lead programmer</h4>
            <p>After 2006, I started to write computationaland visualization software using <em>C++ </em>for NIH funded cancer research at UC Irvine. A data post-processing andvisualization package was written in <em>Matlab</em> to facilitate the
                job. The packagedeveloped has been used and tested with many collaborators throughout USA.&nbsp;</p>
        </div>
    </div>
</div>
