<div class="row cv-timeline">
    <div class="col-md-12 no-padding">
        <div>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">2010</th>
                        <th colspan="2">2011 </th>
                        <th colspan="2">2012 </th>
                        <th colspan="2">2013 </th>
                        <th colspan="2">2014 </th>
                        <th colspan="2">2015 </th>
                        <th colspan="2">2016 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="11" class="timeline-item">Contracting <span class="hidden-xs">AlphaMed, DesignHammer, PeopleDesigns, TopFitPros etc </span></td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                    </tr>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="2" class="timeline-item">Duke </td>
                        <td colspan="1"> </td>
                        <td colspan="2" class="timeline-item"><a href="#rxante">Rx</a> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                    </tr>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="3" class="timeline-item">PlusDelta </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="3" class="timeline-item"> <a href="#deutsche">Deutsche Bank</a></td>
                    </tr>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row cv-section" id="deutsche">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2><i class="fa fa-slideshare"></i> Work Experience</h2>
            <h4>2010 - current</h4></div>
    </div>
    <div class="col-md-9">
        <div class="cv-item">
            <p class="period">Sep 2015 - Current</p>
            <h3>Deutsche Bank, Cary NC</h3>
            <h4>AngularJS / NodeJS architect and UI/UX designer</h4>
            <p> Provided <em>AngularJS</em> UI architect for GMI West AOF applications. Served as the tech lead and project manager of six team members (UIs, API, backend developers and business analysts). Large banking account open form, categorized
                by pages and regions, needs to be displayed, validated and submitted for end-users. I <strong>held morning standup meeting in daily basis, and provided demos to shareholder in weekly basis, as well as providing architect training for entry level UI developers</strong>.
                <small>since Jun 2016</small></p>
            <ul class="fill-circle">
                <li>Theme Design: Extend <em>Bootstrap</em> following corporate theme guideline</li>
                <li>Front-end Build: <em>AngularJS</em> custom <strong><em>Gulp</em></strong> build within corporate infrastructure</li>
                <li>Hierarchy Routes: Book-like chapter navigation between different forms for multiple regions</li>
                <li>Form Design: Consistent form element between <em>IE/Chrome</em> browser, including radio, date and dropdown</li>
                <li>Continuous Integration: <em>Jenkins</em> deployment with every <em>Git</em> commit</li>
                <li>Fields Meta: Remapping of form fields and styling between API and UI</li>
                <li>Modular CSS: <em>CSS</em> framework extending bootstrap, other vendors and individual page components</li>
                <li>Modular JS: <em>AngularJS</em> framework with each feature linked as dependency</li>
                <li>Async Operations: series of async calls chained together to perform UI tasks</li>
                <li>Form validation: Validation driven by meta data provided by form API</li>
                <li>Page action: <em>Excel</em> like validation and action rules based on user input</li>
                <li>MVC Model: Extremely fat model design in <em>MVC</em> approach handling business logic</li>
            </ul>
            <p>Provided <em>NodeJS</em> backend / <em>AngularJS</em> UI for report delivery and SLA breach notification system for 1000 daily reports from US West and East region. I served as the lead architect and developer for data API, time critical
                SLA breach as well as batch email summary generation and delivery. <small>since Mar 2016 </small></p>
            <ul class="fill-circle">
                <li>Prototype of admin UI with <em>webpack</em>&nbsp; </li>
                <li>Responsive layout with material design </li>
                <li>Establish entity model with configuration file </li>
                <li>Grid style with grouping for large data exploration </li>
                <li>Design API spec for <em>MVC</em> rest service with <em>Mongo</em> </li>
                <li>Blueprint <em>MVC</em> routes with custom Kingslanding <em>NPM</em> </li>
                <li>Design SLA notification process with <em>Cognos</em> </li>
                <li>Multiple mixed level of serial and parallel process </li>
                <li>Unified logging for all backend tasks </li>
                <li>Streamlined data migration with excel in production environment </li>
                <li>Efficient shared data pool for fetching data </li>
                <li>Generation of report status email with summary table </li>
                <li>Scriptable schedules with priority and concurrency </li>
                <li>Plugin system for extendibility of backend system </li>
            </ul>
            <p>Served as a lead front-end architect of <em>AngularJS </em>/ <em>NodeJS</em> and <em>UI/UX</em> for an enterprise statement 4-eyes-check solution for 25, 000 customers worldwide. I also <strong>served as the sprint master for 8 people team (FA, QA, Dev and Owner etc.) in daily basis. I drafted the migration plan and collected the preliminary analysis</strong>                        on-boarding 25,000 users to the company banking entitlement system. &nbsp;<small>Since Sep 2015</small> </p>
            <ul class="fill-circle">
                <li>Work with <em>Windows</em> environment </li>
                <li>Design page layout with <em>sketch</em> </li>
                <li>Design front-end framework with custom <em>grunt</em> build </li>
                <li>Develop recipient email list directive </li>
                <li>Unit test controller, directive and services </li>
                <li>Generate code coverage 80% above </li>
                <li>Perform parallel tasks on page load </li>
                <li>Design multiple entity selector workflow </li>
                <li>Add CSRF token protection for security </li>
                <li>Add command line tool via flatiron </li>
                <li>Work with <em>mongoDB</em> (monk) for bookkeeping </li>
                <li>Work with <em>Oracle</em> database query and dump </li>
                <li>Use request to issue service call to on-board user </li>
            </ul>
        </div>
        <div class="cv-item">
            <p class="period">Jun 2010 - Oct 2015</p>
            <h3>Contracting</h3>
            <h4>Drupal, Laravel, and AngularJS Developer </h4>
            <p> Since 2010, I started to build professional website as a freelancer using <em>PHP </em>and <em>Drupal.</em> Between 2013 and 2015, I transitioned from a backend developer to front-end UI/UX developer. More than 20 applications have
                been developed and deployed commercially, mainly using <em>Drupal,</em> <em>Laravel</em> and <em>AngularJS</em>.</p>
        </div>
        <div class="cv-item">
            <p class="period">July - Sep 2015</p>
            <h3>Medicision, Raleigh NC</h3>
            <h4>AngularJS developer and UI/UX designer</h4>
            <p>Provided UI mockup and <em>AngularJS</em> architect for Automated service center tool that will allow sales to setup customer environments based on their needs.&nbsp;My job is to <strong>work with an account manager to find out the business need</strong>.
                Both UI and <em>AngularJS</em> architect are drafted for both desktop and mobile audience.&nbsp; </p>
        </div>
        <div class="cv-item">
            <p class="period">Jan 2015 - Jun 2015</p>
            <h3>NewStone Realty, Raleigh NC</h3>
            <h4>Lead AngularJS/NodeJS architect</h4>
            <p>Provided <em>AngularJS</em> architect and development of current realty website, especially in providing new front-end and backend framework to support the existing unstructured HTML content.&nbsp; Visit live site <a href="newstonerealty.com"
                target="_blank"><i class="icon ion-android-home"></i> here </a>.</p>
        </div>
        <div class="cv-item">
            <p class="period">Jan 2015 - Dec 2015</p>
            <h3>TopFitPro, Raleigh NC</h3>
            <h4>Lead AngularJS/NodeJS architect</h4>
            <p>Provided <em>AngularJS</em> (front) and <em>NodeJS</em> (back) architect and development for recipe ingredients guide application where users are guided to select healthy food based on carbs, proteins, fats and other personal preference.
                Internal state machine is built so that user will be suggested with choices based on six guidance step by step. At each step, user might be stopped to ask to substitute with healthy food or adjust food quantities based on personal
                preference. </p>
        </div>
        <div class="cv-item">
            <p class="period">May 2014 - JUN 2015</p>
            <h3>PeopleDesigns, Durham NC</h3>
            <h4>Lead Laravel and AngularJS developer</h4>
            <p>Provided <em>AngularJS</em> (front) and <em>NodeJS</em> (back) architect and development for southern regional center of excellence in nutirion education and obesity prevention. An introduction website presents information on programs,
                constituents and question and answer forum on the front while in the back manager can update the information daily through the same unified UI. Both customer and manager can interact the site in a responsive way when manager have
                more permissions in updating their permitted content and managing the workflow. </p>
            <ul class="fill-circle">
                <li>Theme Design: Prototyped with <em>Bootstrap</em> metronic responsive template </li>
                <li>Fonte-end Prototype: AngularJS and <em>Bootstrap</em> custom modular development </li>
                <li>Rest API: NodeJS setup for <em>Rest</em> API with support of JSON file for fast prototype </li>
                <li>Token Based Authentication: NodeJS and <em>AngularJS</em> JWS token based authentication </li>
                <li>Google Calendar Integration: Parse <em>Google</em> public calendar via feed and iCal </li>
                <li>Questions and Comments: build-in question and commenting system </li>
                <li>Unified UI: Same UI for backend and frontend two possible ways to manage contents </li>
                <li>Map Integration: integrate <em>leaflet</em> map to display networks for selected US states </li>
                <li>WYSIWYG Editor: Rich text editor with file attachment integration </li>
                <li>File Management: Manage upload directory and files </li>
                <li><strong><em>WYSIWYG</em></strong> Extension: Insert local file or picture to <strong><em>WYSIWYG</em></strong><em> </em>editor </li>
            </ul>
            <p>Provided Laravel 4 architect and development for new version of PrepareForYourCare, a hospital stage III counseling program to help people prepare the end of their life. The project creates flexible tree-kind chapters navigation with
                video/narration helper for elder visits. 200 doctors and 50,000 users around the globe have used the site. </p>
            <ul class="fill-circle">
                <li>HIPPA Server: <em>HIPPA</em> server host and deployment plan protecting health care privacy </li>
                <li>Authentication: Two factor <em>SMS</em> enabled authentication for better security protection </li>
                <li>Password Recovery: Recovery based on either username or 3 out of 6 question answers </li>
                <li>508 section: Disability compliance with video, and narration support with high contrast&nbsp; </li>
                <li>Multilingual Support: Three language translations made for pages, snippets and graphics </li>
                <li>Responsive Design: <em>Bootstrap</em> is used for fast prototype for desktop, iPad and other devices </li>
                <li>Template Design: Allow manager to modify each page content stored in file storage </li>
                <li>File Management: administer language files through web interface with easy switch </li>
                <li>Browser Compatibility: Support <em>Chrome,</em> <em>Safari,</em> <em>Firefox</em> and <em>IE</em> 8, 9 and 10 </li>
            </ul>
        </div>
        <div class="cv-item">
            <p class="period">Sep 2014 - Mar 2015</p>
            <h3>RxAnte, Durham NC</h3>
            <h4>Lead Drupal developer</h4>
            <p> At 2014, I joined a second stage healthcare startup company working as a <em>Drupal </em>developer. Provided enterprise <em>PHP/Drupal</em> development, support and deployment for a hospital/insurance/doctor relationship web application
                which helps their patients to adhere with their existing medications therefore upgrade ranking star in the healthcare system. The project creates dashboard to present data collected from doctor office and insurance company, and
                try to predict the patient behaviors. Analyzed data for each account (multi-tenant) are sampled from 10-20 contracts with average 0.5 to 5 millions patients.</p>
            <ul class="fill-circle">
                <li>Environment: <em>Drupal</em> 7 deployed in <em>CentOS</em> with vagrant support </li>
                <li>HIPPA Server: <em>HIPPA</em> for health care privacy with two factor VPN protections </li>
                <li>Continuous Integration: Continuousintegrated dev serverwith auto <em>Git</em> pull </li>
                <li>Service API: Use <em>Slim</em> framework to build rest service API that hosts all data </li>
                <li>Theming: <em>Drupal</em> theme and renderable array are extensively used </li>
                <li> <em>IE</em> 8 Compatibility: Responsive background, round corner, table-cell and <strong><em>CSS</em></strong> compression </li>
            </ul>
        </div>
        <div class="cv-item">
            <p class="period">Nov 2013 - Apr 2014</p>
            <h3>DesignHammer, Durham NC</h3>
            <h4>Lead Drupal Developer</h4>
            <p>Provided <em>Drupal</em> 7 architect and development for a hospital startup environmental excellence awards application for more accurately measure and track sustainability performance of hospitals by allowing members to assess and
                track sustainability accomplishments. 320 awards (by 2013) are given to health care facilities and business members that show achievement in varying levels of excellence in sustainability overt he course of the calendar year. The
                project evolves into discovery, phase I, phase II and deployment stages, and took 9 month and 2000 billable hours by a team with two developers (me as the lead) and one project manager. The site has been launched with stats of
                800,000 responses, 200 hospitals and 25,000 peek daily page views. </p>
            <ul class="fill-circle">
                <li>Drupal Migration: Custom module to handle large complicated dataset migration from legacy <em>Excel</em> sheets </li>
                <li>Organic Group: When application is created, 8000 questionnaires auto-populated inside </li>
                <li>Form API: Questions are presented using Form API with input type dynamically populated from database </li>
                <li>Dashboard Design: Display all application percentage completion status for each client </li>
                <li>Review Workflow: Reviewer dashboard to assign, track and manage review process </li>
                <li><em>Cron</em> &amp; Batch: Batch job is heavily used for time-consuming functionalities, ex. Creation and reporting </li>
                <li>Mathematic Formula: Excel cell calculation is implemented between questions upon front-end </li>
                <li>Score Management: Points are assigned for each question, and totaled for each application </li>
                <li>Report &amp; Export: Mass data assignment with import and export capability </li>
                <li>Browser Compatibility: <em>IE</em> 7,8,9 38% user using IE 7 and 96% using Windows </li>
            </ul>
        </div>
        <div class="cv-item">
            <p class="period">Sep 2013 - Feb 2014</p>
            <h3>AlphaMed Press, Durham NC</h3>
            <h4>Lead Drupal Architect</h4>
            <p>Redesign in <em>Drupal</em> 7 architect and migration from legacy Joomla site of two flagship sites Stemcell and Oncologist integrated with iPhone/iPad app using “One Web” solution and pulling articles daily through Stanford Hirewire.
                The site requires 8 user roles, 22 content types, 26 custom modules and 160 admin views. They host 3000 articles, 48,000 registered users and 120,000 unique visits per month.&nbsp; </p>
            <ul class="fill-circle">
                <li>Data Modeling: article, interactive Ads, image, video and poll etc. </li>
                <li>Data Migration: custom migration from Stanford <em>HighWire</em> </li>
                <li>User Interface: desktop / mobile theming and interaction </li>
                <li>Content Management: import/export and manage content categories </li>
            </ul>
        </div>
        <div class="cv-item">
            <p class="period">Jan - Dec 2013</p>
            <h3>Duke University, Durham NC</h3>
            <h4>Lead Drupal Developer</h4>
            <p> Meantime, I also developed couple of front facing websites for Duke medical center and Duke university using <em>Drupal.</em> Redesign in <em>Drupal</em> 7 architect of department landing page and new students advising network application.
                The project splits into discovery, development, theming and support stages, and requires 300 panel layouts, 12 content types, 10 custom modules and 60 custom views and took 8 months and 1000 billable hours to finish for single
                developer. After the launch the site it has been used by 1,400 undergrads, 640 faculties in 50 majors.</p>
            <ul class="fill-circle">
                <li>Data Modeling: page, panel and widgets </li>
                <li>Layout Design: create various combinations of page layouts </li>
                <li>User Interface: apply layout pattern to multi departments </li>
                <li>Directory Search: integrated with internal directory search </li>
            </ul>
        </div>
        <div class="cv-item">
            <p class="period">Jun 2012 - Dec 2013</p>
            <h3>PlusDelta Technologies, Durham NC</h3>
            <h4>Lead PHP/Drupal Architect</h4>
            <p> At 2012, I joined a startup healthcare company, worked as a <em>Drupal</em> developer building a startup flagship product that tracks medication inside hospitals like FedEx. I help build a medication tracking and workflow process improvement
                solution for hospital pharmacies that uses handheld smart mobile technology with an integrated web-enabled software that verifies, records and monitors every step in the process of medication preparation, dispensing, and delivery.
                The project mainly builds an API that can talk to mobile devices and takes 1year with 2000 billable hours to finish. It has been deployed and used by 4 hospitals.</p>
            <ul class="fill-circle">
                <li>Data Modeling: dispense, med, order, and locations</li>
                <li>Tracking Workflow: design workflow states for medications</li>
                <li>Mobile Integration: design <em>API</em> to connect with devices&nbsp; </li>
                <li>Tracking Wallboard: large screen monitor for hospital activity </li>
            </ul>
        </div>
    </div>
</div>
<div class="row cv-timeline">
    <div class="col-md-12 no-padding">
        <div>
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">2000 </th>
                        <th colspan="2">2001 </th>
                        <th colspan="2">2002</th>
                        <th colspan="2">2003</th>
                        <th colspan="2">2004</th>
                        <th colspan="2">2005</th>
                        <th colspan="2">2006 </th>
                        <th colspan="2">2007 </th>
                        <th colspan="2">2008 </th>
                        <th colspan="2">2009 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="timeline-space">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td> </td>
                        <td colspan="13" class="timeline-item"> <span class="hidden-xs">Johns </span> Hopkins <span class="hidden-xs">University </span> </td>
                        <td colspan="6" class="timeline-item"> UC Irvine <span class="hidden-xs">University </span> </td>
                    </tr>
                    <tr class="timeline-space" style="height: 2px">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr class="timeline-row">
                        <td colspan="2" class="timeline-item"> Hobby </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="1"> </td>
                        <td colspan="7" class="timeline-item"> NASA <span class="hidden-xs">application </span> </td>
                        <td colspan="1"> </td>
                        <td colspan="5" class="timeline-item">NIH <span class="hidden-xs">cancer projects </span></td>
                    </tr>
                    <tr class="timeline-space" style="height: 2px">
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2><i class="fa fa-slideshare"></i> Work Experience</h2>
            <h4>2000 - 2010</h4></div>
    </div>
    <div class="col-md-9">
        <div class="cv-item">
            <p class="period">Sep 1999 - Dec 2000</p>
            <h3>Hobby projects</h3>
            <h4>HTML + CSS</h4>
            <p> I started to make websites back in college. I remember the first publlished one was a college graduation book one for classmates back in 1999. It took me three weeks to finish it, and the results is rewarding. We saved the website
                in CDs and gave everyone a copy. I believe I still have that CD with me.</p>
        </div>
        <div class="cv-item">
            <p class="period">Jun 2003 - Jun 2006</p>
            <h3>NASA fluid dynamic project</h3>
            <h4>C++ Lead programmer</h4>
            <p> From 2000, I joined Johns HopkinsUniversity and spent five years writing scientific software using <em>C++ </em>for NASA funded fluid dynamic projects, 12000 lines in <em>C++</em> in linux environment, integrated with parallel open
                source PETSC solver. A windows GUI front-end was written for data post-processing and visualization purpose using <em>Borland Delphi</em>.&nbsp; </p>
        </div>
        <div class="cv-item">
            <p class="period">Oct 2007 - Dec 2009</p>
            <h3>NIH cancer research</h3>
            <h4>C++ Lead programmer</h4>
            <p>After 2006, I started to write computationaland visualization software using <em>C++ </em>for NIH funded cancer research at UC Irvine. A data post-processing andvisualization package was written in <em>Matlab</em> to facilitate the
                job. The packagedeveloped has been used and tested with many collaborators throughout USA.&nbsp;</p>
        </div>
    </div>
</div>
