<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2>Professional</h2>
        </div>
    </div>
    <div class="col-md-9">
        <p [innerHTML]="profile.description"></p>
        <p>
            <small>
                <strong>Keywords:</strong>

                <span *ngFor="let keyword of profile.keywords"
                  class="label label-default label-keyword"
                  [innerText]="keyword"
                ></span>
            </small>
        </p>
        <p>Find more information on my <a [routerLink]="['/experience']">project experience</a> , <a [routerLink]="['/architect']">architect skills</a> as well as list of <a [routerLink]="['/component']">business components</a> that I have worked with. Feel free read <a [routerLink]="['/recommend']">recommendation letters</a> that people have written for me.</p>
    </div>
</div>

<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2>Education </h2>
            <h4> </h4></div>
    </div>
    <div class="col-md-9">
        <div class="cv-item">
            <h3>Johns Hopkins University</h3>
            <h4>Bio-molecular chemical engineering, Ph.D.</h4>
            <p>This is when I got chance with the advanced mathematic model. My job was to model water droplet dripping from the bathroom facet. Of course this was for NASA sponsored project, so this bathroom was on the moon with relatively smaller
                gravity ;) And later I took another project of modeling cancer cell migration inside human body.</p>
        </div>
    </div>
</div>
<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2>Activities </h2>
            <h4></h4>
          </div>
    </div>
    <div class="col-md-9">
        <div class="cv-item">
            <h3>Volunteer site builder</h3>
            <h4>RecoveryHub for disaster and Humanitarian Relief</h4>
            <p>After hurrican striked, lots of people lost home and they tried to find help on rebuilding their home. This is where I volunteered to build a site so that people can find useful information quickly during or after.</p>
        </div>
        <div class="cv-item">
            <h3>"Multiscale Modeling of Cancer" book</h3>
            <h4>Co-author, Cambridge University Press, 2010</h4>
            <p>My advisor wrote the book, andI participated in contributing two three chapters including mathematical modeling and computational framework for our cancer research. You can find this book at Amazon.com</p>
        </div>
        <div class="cv-item">
            <h3>Front cover picture design</h3>
            <h4>Author, Journal of Nonlinearity, 2010</h4>
            <p>One of the challenge of cancer cell modeling is to visualize the vivid form formation and migration in realtime in 3D. I was fascinated on the visualization schema, and afterwards, the work is published as the front cover picture of
                Journal of Nonlinearity. You might be able to find this online. </p>
        </div>
        <div class="cv-item">
            <h3>College math class teacher</h3>
            <h4>University of California Irvine</h4>
            <p>I taught three semesters advanced college math class at UC Irvine when I took post doc there. The teaching experience taught me teaching and learning are two different aspects of life, both are art on itself. </p>
        </div>
    </div>
</div>
