<div class="row cv-section">
    <div class="col-md-3">
        <div class="cv-section-title">
            <h2>Professional Profile</h2>
        </div>
    </div>
    <div class="col-md-9">
        <p [innerText]="profile.description"></p>
        <p>
            <small>
                <strong>Keywords:</strong>

                <span *ngFor="let keyword of profile.keywords"
                  class="label label-default label-keyword"
                  [innerText]="keyword"
                ></span>
            </small>
        </p>
    </div>
</div>
